/* slick carousel styles for slideshow*/
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{margin: 0; padding:0}

.navbar {
    display: flex; /* Ensures flexbox is being used */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Aligns items vertically in the center, if needed */
    background-color: white;
    font-weight: 700;
    padding: 10px 300px;
}


.card {
    cursor: pointer;
  }