/* slick carousel styles for slideshow*/
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{margin: 0;; padding:0}

.navbar{
    display:table;
    justify-content: space-between;
    background-color: white;
    padding: 10px 16px;
;
}


